---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15w1BtLCTUylKIRlFSH8t4sH&plan=BASE&email=joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_yNosIrCvrAuVttjO60dxy7zy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1430098666,
          "id": "cus_68HlRxkvXMtHvt",
          "livemode": false,
          "description": null,
          "email": "joe@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_68HlRxkvXMtHvt/subscriptions",
            "data": [
              {
                "id": "sub_68HlcZUc2UaicN",
                "plan": {
                  "interval": "month",
                  "name": "Basic Plan",
                  "created": 1429854130,
                  "amount": 99,
                  "currency": "usd",
                  "id": "BASE",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1430098666,
                "status": "active",
                "customer": "cus_68HlRxkvXMtHvt",
                "cancel_at_period_end": false,
                "current_period_start": 1430098666,
                "current_period_end": 1432690666,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_68HlRxkvXMtHvt/sources",
            "data": [
              {
                "id": "card_15w1BtLCTUylKIRlrlqL36dl",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2019,
                "fingerprint": "Z2GkECNfVSpQKiE3",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_68HlRxkvXMtHvt"
              }
            ]
          },
          "default_source": "card_15w1BtLCTUylKIRlrlqL36dl"
        }
  recorded_at: Mon, 27 Apr 2015 01:37:47 GMT
recorded_with: VCR 2.9.3
