---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_yNosIrCvrAuVttjO60dxy7zy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15w0ncLCTUylKIRlvSyJMs6I",
          "livemode": false,
          "created": 1430097160,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15w0ncLCTUylKIRlUeIy8dJu",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2016,
            "fingerprint": "XT5HLuTgzxmn958q",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "1.160.101.128"
        }
  recorded_at: Mon, 27 Apr 2015 01:12:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&source=tok_15w0ncLCTUylKIRlvSyJMs6I
    headers:
      Authorization:
      - Bearer sk_test_yNosIrCvrAuVttjO60dxy7zy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15w0ncLCTUylKIRlgFfKdijt"
          }
        }
  recorded_at: Mon, 27 Apr 2015 01:12:41 GMT
recorded_with: VCR 2.9.3
