---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_yNosIrCvrAuVttjO60dxy7zy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15yZssLCTUylKIRlHKDBmV4E",
          "livemode": false,
          "created": 1430708682,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15yZssLCTUylKIRlXLngkuHT",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2016,
            "fingerprint": "Z2GkECNfVSpQKiE3",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "1.160.104.20"
        }
  recorded_at: Mon, 04 May 2015 03:04:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15yZssLCTUylKIRlHKDBmV4E&plan=BASE&email=geoffrey.schaefer%40stoltenberg.name
    headers:
      Authorization:
      - Bearer sk_test_yNosIrCvrAuVttjO60dxy7zy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1430708682,
          "id": "cus_6Avkf3mtSMns6C",
          "livemode": false,
          "description": null,
          "email": "geoffrey.schaefer@stoltenberg.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6Avkf3mtSMns6C/subscriptions",
            "data": [
              {
                "id": "sub_6AvkfI4Xn5sfze",
                "plan": {
                  "interval": "month",
                  "name": "Basic Plan",
                  "created": 1429854130,
                  "amount": 99,
                  "currency": "usd",
                  "id": "BASE",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1430708682,
                "status": "active",
                "customer": "cus_6Avkf3mtSMns6C",
                "cancel_at_period_end": false,
                "current_period_start": 1430708682,
                "current_period_end": 1433387082,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6Avkf3mtSMns6C/sources",
            "data": [
              {
                "id": "card_15yZssLCTUylKIRlXLngkuHT",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2016,
                "fingerprint": "Z2GkECNfVSpQKiE3",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6Avkf3mtSMns6C"
              }
            ]
          },
          "default_source": "card_15yZssLCTUylKIRlXLngkuHT"
        }
  recorded_at: Mon, 04 May 2015 03:04:43 GMT
recorded_with: VCR 2.9.3
