---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15yYzgLCTUylKIRln74HkdCq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_yNosIrCvrAuVttjO60dxy7zy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15yYzgLCTUylKIRln74HkdCq",
          "created": 1430705260,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15yYzgLCTUylKIRlP66CKpX5",
              "object": "charge",
              "created": 1430705260,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 99,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15yYzeLCTUylKIRll7zhkfMs",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2015,
                "fingerprint": "Z2GkECNfVSpQKiE3",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6Aupm1THLvHTnO"
              },
              "captured": true,
              "balance_transaction": "txn_15yYzgLCTUylKIRluBT7Obmz",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6Aupm1THLvHTnO",
              "invoice": "in_15yYzgLCTUylKIRlcnjWhIBb",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15yYzgLCTUylKIRlP66CKpX5/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_6AupyN8zrE6fF4",
          "api_version": "2015-04-07"
        }
  recorded_at: Mon, 04 May 2015 02:36:30 GMT
recorded_with: VCR 2.9.3
