---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15ycOeLCTUylKIRlJom1jayI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_yNosIrCvrAuVttjO60dxy7zy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15ycOeLCTUylKIRlJom1jayI",
          "created": 1430718340,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15ycOdLCTUylKIRlq8G764Gc",
              "object": "charge",
              "created": 1430718339,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 99,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15ycOALCTUylKIRlaEUsukcJ",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2016,
                "fingerprint": "Pfqqgr2TZjeNXbHD",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6Awy7ItkTK5HCv"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_6Awy7ItkTK5HCv",
              "invoice": null,
              "description": "payment fail",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15ycOdLCTUylKIRlq8G764Gc/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_6AyLkbPGvZltpn",
          "api_version": "2015-04-07"
        }
  recorded_at: Mon, 04 May 2015 05:57:49 GMT
recorded_with: VCR 2.9.3
