---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=3000&currency=usd&source=tok_15twX8LCTUylKIRlbjuYjicJ&description=Signs%20up%20for%20Fred
    headers:
      Authorization:
      - Bearer sk_test_yNosIrCvrAuVttjO60dxy7zy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15twX9LCTUylKIRluE72mVZ6",
          "object": "charge",
          "created": 1429604107,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 3000,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15twX8LCTUylKIRlEBGWapkl",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "Z2GkECNfVSpQKiE3",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_15twX9LCTUylKIRlq3kDZA7X",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Signs up for Fred",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15twX9LCTUylKIRluE72mVZ6/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 21 Apr 2015 08:15:07 GMT
recorded_with: VCR 2.9.3
