---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=3000&currency=usd&source=tok_15twX2LCTUylKIRl1hRPlEVJ&description=Signs%20up%20for%20Fred
    headers:
      Authorization:
      - Bearer sk_test_yNosIrCvrAuVttjO60dxy7zy
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15twX3LCTUylKIRllHNIRcLj"
          }
        }
  recorded_at: Tue, 21 Apr 2015 08:15:01 GMT
recorded_with: VCR 2.9.3
